<div>
  Hello World
</div>

{% schema %}
  {
    "name": "Features",
    "settings": [],
    "presets": [
      {
        "name": "Features"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}