{{ 'section-rating-reviews.css' | asset_url | stylesheet_tag }}

<div class="section__rating__reviews-wrapper">
  <h1>Hello World</h1>
</div>

{% schema %}
  {
    "name": "Rating-Reviews",
    "settings": [
      {
        "type": "text",
        "id": "text",
        "default": "Rating"
      }
    ]
  }
{% endschema %}